<?xml version="1.0" encoding="Windows-1252"?>
<configuration>
  <appSettings>
    <!--   User application and configured property settings go here.-->
    <!--   Example: <add key="settingName" value="settingValue"/> -->
    <add key="0" value="60" />
    <add key="Mes.Width" value="60" />
  </appSettings>
</configuration>